$primaryTextColor: #212121;
$secondaryTextColor: #fff;
$primaryBgColor: #fff;
$secondaryBgColor: #0d1117;
$secondaryBgColor-0_5: #0d111780;
$tertiaryBgColor: #f2f0f7;
$primaryBorderColor: #2e3e481f;
$textMuted: #757575;
$textGhost: #c5c5c5;
$primaryColor: #f13a59;
$linkColor: #212121;
$linkHoverColor: #f13a59;
$linkActiveColor: #f13a59;
$primaryIconColor: #212121;
$boxShadowColor: #2217171f;
$filterBgColor: #0f1721;
$fontFamily: ('Montserrat', sans-serif);
$mediaSm: 576px;
$mediaMd: 768px;
$mediaLg: 992px;
$mediaXlg: 1200px;
